body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#content {
    padding: 20px;
}

#book-list,
#wishlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.book {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

#pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.page-btn[disabled] {
    background-color: gray;
    cursor: default;
}

.page-btn:hover:not([disabled]) {
    background-color: #0056b3;
}


.wishlist-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.wishlist-btn:hover {
    background-color: #218838;
}